In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

import os

In [50]:
pd.set_option('display.max_columns',None)

In [51]:
comments = pd.read_csv('all_lUDozITit6w.csv', error_bad_lines=False)

In [52]:
comments

      Unnamed: 0                                           Comments
0              0  pixel a at after card discount so are you in g...
1              1  lakshay tanwar for how much did you bought and...
2              2                                      i am in group
3              3                   krooksgaminginhd around navratri
4              4  what s best smartphone under k inr for best ca...
...          ...                                                ...
1586        1606  it is priced near to the pixel so who would bu...
1587        1607                                            two doo
1588        1608                                          bad phone
1589        1609                     a href about invalid zcsafez a
1590        1610  kharid kaun raha hai isko jo group devide ho p...

[1591 rows x 2 columns]

In [53]:
comments['Comments'] = comments['Comments'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
comments['Comments'] = comments['Comments'].apply(lambda x:x.lower())

In [54]:
tokenized_tweet = comments['Comments'].apply(lambda x: x.split())
tokenized_tweet.head()

In [55]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

0         [pixel, after, card, discount, group, group]
1    [lakshay, tanwar, much, bought, there, heating...
2                                              [group]
3                 [krooksgaminginhd, around, navratri]
4    [what, best, smartphone, under, best, camera, ...
Name: Comments, dtype: object

In [57]:
wnl = WordNetLemmatizer()

In [58]:
tokenized_tweet.apply(lambda x: [wnl.lemmatize(i) for i in x if i not in set(stopwords.words('english'))]) 
tokenized_tweet.head()

0         [pixel, after, card, discount, group, group]
1    [lakshay, tanwar, much, bought, there, heating...
2                                              [group]
3                 [krooksgaminginhd, around, navratri]
4    [what, best, smartphone, under, best, camera, ...
Name: Comments, dtype: object

In [59]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])

In [60]:
comments['Comments'] = tokenized_tweet

In [61]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/satyasasivatsal/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [62]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [63]:
comments['Sentiment Scores'] = comments['Comments'].apply(lambda x:sia.polarity_scores(x)['compound'])

In [64]:
comments.head()

,Unnamed: 0,Comments,Sentiment Scores
0,0,pixel after card discount group group,0.0000
1,1,lakshay tanwar much bought there heating issue...,0.3612
2,2,group,0.0000
3,3,krooksgaminginhd around navratri,0.0000
4,4,what best smartphone under best camera vivo pi...,0.9274

In [65]:
comments['Sentiment'] = comments['Sentiment Scores'].apply(lambda s : 'Positive' if s > 0 else ('Neutral' if s == 0 else 'Negative'))
comments.head()

In [67]:
comments.Sentiment.value_counts()

Neutral     768
Positive    635
Negative    188
Name: Sentiment, dtype: int64

In [68]:
percentages = comments['Sentiment'].value_counts(normalize=True) * 100

neutral_df = comments[comments['Sentiment'] == 'Neutral']
positive_df = comments[comments['Sentiment'] == 'Positive']
negative_df = comments[comments['Sentiment'] == 'Negative']

print(percentages)

Neutral     48.271527
Positive    39.912005
Negative    11.816468
Name: Sentiment, dtype: float64

In [69]:
positive_df.head(20)

,Unnamed: 0,Comments,Sentiment Scores,Sentiment
1,1,lakshay tanwar much bought there heating issue...,0.3612,Positive
4,4,what best smartphone under best camera vivo pi...,0.9274,Positive
5,5,second hand iphone years update better camera ...,0.7269,Positive
7,7,nearlight gaming pixel series will launched then,0.1280,Positive
9,9,crystal clear group,0.3818,Positive
11,11,atleast officially launching here middle east ...,0.0516,Positive
14,14,group think amazing package price gone from co...,0.6240,Positive
16,16,group wait months price drops just like older ...,0.3612,Positive
22,22,what best smartphone under camera year stable,0.7506,Positive
23,23,ajay ordered pixel then cancelled since could ...,0.3612,Positive
26,26,pixel cost amazon just more than,0.1779,Positive
27,27,group extremely overpriced when pixel easily a...,0.3400,Positive
29,29,feel like just google launch there phone this ...,0.0772,Positive
35,35,best price under sale,0.6369,Positive
38,38,these huge bezels moto edge fusion better desi...,0.6369,Positive
41,41,oneplus good choice,0.4404,Positive
42,42,using pixel satisfied,0.4215,Positive
44,44,nothing phone gonna drop soon with either that...,0.9233,Positive
46,46,guru praveen what joke already cycle only till...,0.5719,Positive
50,50,group when price drops during will considered ...,0.5994,Positive